<html xmlns:th="http://www.thymeleaf.org">
<head>
     <title>VZ Video Demo</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> </link>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
    <body>
        <h1 >Hello !</h1>
        	<p>
			Click <a th:href="@{/home}">here</a> to return to Home Page.
		</p>
    </body>
</html>